.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1000; /* Asegurar que esté por encima del contenido */
}

.animated_button {
    padding: 10px 25px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.animated_button:hover {
    background-color: var(--highlight-color);
    transform: scale(1.1);
}

.imgskills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 80px; /* Ajustar el espacio para las secciones debajo de la barra */
}

.contenedorimg {
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100px;
    height: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.cursor {
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: var(--text-color);
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.infheader {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 130px 0 50px;
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Centrar los elementos verticalmente */
    box-sizing: border-box;
}


.rodapie__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Añadir espacio arriba para compensar la barra fija */
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 80px; /* Ajuste para espacio encima de la barra fija */
}

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}



.image img {
    width: 100%;
    height: auto;
}

/* RODAPIÉ */

.rodapie__container {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    color: white;
    line-height: 1.5;
    font-size: 16px;
    padding: 20px 0;
}

.rodapie__titulo {
    color: white;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}
